/* место для вашего кода */

/*fonts*/
h1 {
    position: relative;
    font-size: 100px;
    color: white;
    letter-spacing: 39px;
    line-height: 115%;
    display: block;
}

h2 {
    font-size: 40px;
}

.title{
    padding: 27px;
    padding-top: 0px;
}

p {
    font-size: 20px;
    line-height: 120%;
}

a {
    font-size: 18px;
}

.bald {
    font-weight: 700;
}

.caption {
    font-size: 22px;
}

.underline {
    text-decoration: underline;
}

.uppercased {
    text-transform: uppercase;
}

.a_main {
    font-size: 20px;
    padding: 27px;
    display: block;
}

#description_caption {
    word-spacing: 30px;
    align-self: center;
}
/*end fonts*/


/*basic*/
ul {
    list-style-type: circle;
}

.center_align {
    display: flex;
    align-items: center;
}

.start {
    align-self: flex-start;
}

.center {
    align-self: center;
}

.end {
    align-self: flex-end;
}
/*end basic*/
header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
    place-content: center;
    padding: 50px;
}


.gap {
    gap: 13px;
}

.margin{
    margin-right: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 148px;
    height: 105px;
}

address {
    text-decoration: none;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    gap: 1px;
}

.address_header {
    width: 240px;
    justify-self: end;
}

.cover {
    position: relative;
    min-height: 757px;
    background-color: rgb(0 0 0/0.6);
    display: flex;
    flex-direction: column;
}

.grid_text{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    
    /*flex: 1;*/
}

.description {
    display: flex;
    justify-content: space-between;
}

.background {
    position: absolute;
    z-index: -1;
    display: block;
    object-fit: cover;
    height: 100%;
    width: auto;
    max-width: 100%;
}

.text_block {
    color: white;
    flex-direction: column;
    flex: 1;
    padding: 50px 40px;
}

button {
    border: 1px solid;
    border-radius: 0;
    background: none;
    color: white;
    border-color: white;
    text-transform: uppercase;
    padding: 12px 32px;
}


.lots {
    
    margin: 0px 24px;
    margin-top: 180px;
}

.lot_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.item {
    flex-direction: column;
    height: 596px;
    /*padding: 40px;*/
    background-color: rgb(0 0 0/0.6);
    color: white;
    position: relative;
}

.about {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
    margin-bottom: 180px;
    grid-template-areas: "logo h2" ". article";
}

.logo_column {
    grid-area: logo;
    border-radius: 50%;
    background-color: black;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

article {
    grid-area: article;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer {
    align-items: start;
    height: 180px;

}

.networks {
    display: flex;
    gap: 48px;
}

.network {
    height: 48px;
    width: 48px;
}

.unstyled {
    list-style-type: none;
    text-align: center;
}